.wrapper-home .youtube-video {
    padding-right: 0;
}
.embed-responsive-item{
width: 100%;
}
.img-adword img{
     width: 100%;
}
.elephant-container{
     text-align: center;
}
.elephant-container img{
      width: 97%;
}
